body {
    background: linear-gradient(rgba(10, 10, 10, 0.60), rgba(10, 10, 10, 0.60)),url('../img/bg2.jpg');
    background-size: cover;
}

.primary-section {
    text-align: center;
    transform: translateY(25%);
}

button {
    transform: scale(1.5);
    margin: 50px;
}

.selection {
    margin-top: 50px;
    margin-bottom: 50px;
}

.link-selection {
    transform: scale(1.5);
    text-decoration: none;
    color: #FF10F0;
    border: 2px solid #FF10F0;
    border-radius: 0.75em;
    cursor: pointer;
    padding: 5px;
    background: none;

    box-shadow: 0px 0px 10px #FF10F0, 0px 0px 20px #FF10F0, 0px 0px 40px #FF10F0;

    font-weight: bold;
    transition: 0.5s ease all;
}

.link-selection:hover {
    padding: 15px;
    background-color: #FF10F0;
    border-color: 2px solid black;
    color: black;
    padding: 15px;
}