* {
  color: white;
}

.App {
  text-align: center;
}

.game-wrapper {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

#user-title {
  transform: translateY(10px);
}

.user-cards {
  margin: 50px;
  transform: translateY(10px);
}

.comp-cards {
  margin: 50px;
}

img {
  height: 150px;
}

input, label {  
  margin-left: 20px; 
  margin-right: 20px;
  padding: 10px;
  font-size: 18px;
}

input[type=radio] {
  border: 0px;
  width: 1em;
  height: 1em;
}

input[type=checkbox] {
  border: 0px;
  width: 1em;
  height: 1em;
}

button {
  cursor: pointer;
  margin: 10px;
  padding: 5px;
  background: none;
  border: 2px solid white;
  color: white;
  border-radius: 0.75em;
  font-weight: bold;
  transition: 0.5s ease all;
}

button:hover {
  transform: scale(1.25);
  background-color: white;
  border-color: 2px solid white;
  color: black;
}